---
import { Header } from "@/components/header";
import Layout from "../layouts/Layout.astro";
import VideoCarousel from "@/components/video-carousel";
import InfoSections from "@/components/InfoSections.astro";
import FeaturesGrid from "@/components/FeaturesGrid.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
---

<Layout>
  <Header client:load />
  <main>
    <VideoCarousel client:load />
    <InfoSections />
	    <FeaturesGrid />

  </main>
</Layout>
